<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles.css" />
    <title>Blunder</title>
  </head>

  <body>
    <a href="/"><h1>Blunder</h1></a>
    <h2>Select ELO:</h2>
    <ul>
      <li><a href="/play?rating=1300">1100-1300</a></li>
      <li><a href="/play?rating=1500">1300-1500</a></li>
      <li><a href="/play?rating=1700">1500-1700</a></li>
      <li><a href="/play?rating=1900">1700-1900</a></li>
    </ul>
  </body>
</html>
